<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Review Sentiment Analysis</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form id="review-form">
            <input type="text" name="review" placeholder="Enter your product review" required> <br>
            <button type="submit">Analyze</button>
        </form>
        <div class="response-box"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
